<!DOCTYPE html>
<html>
  <head>
    <title>P2A</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Bloggie</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to "Home", home_path %></a></li>
          <% if user_logged_in? %>
          <li><%= link_to "New Post", new_user_post_path(current_user) %></a></li>
          <% end %>
        </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if user_logged_in? %>
            <li><%= link_to 'Sign Out', sign_out_path, method: :delete %></a></li>
            <% else %>
            <li><%= link_to 'Sign Up', new_user_path %></a></li>
            <li><%= link_to "Sign In", sign_in_path %></a></li>
          </ul>
          <% end %>
      </div>
    </nav>

  <div class="container">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
    <% flash.each do |name, message| %>
      <div class="flash-message flash-message-<%= name %>">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>

  </div>
  <div class="col-sm-2"></div>
  </div>
  </body>
</html>
